.add-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
    width: 398px;
    height: 112px;
    
    
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
}