.App {
  text-align: center;
    /* Auto Layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  position: relative;
  width: 414px;
  height: 898px;
  overflow-x: scroll;

  background: #F1F2F3;
}

